@font-face {
	font-family: bold;
	src: url('/fonts/Asap-Bold.ttf');
  }
  
  @font-face {
	font-family: normal;
	src: url('/fonts/Asap-Regular.ttf');
  }
  
*{
	font-family : normal;
	font-size: 16px;
	
	--bg-color : #f9fafb;

	--primary-color : #7367f0;
	--secondary-color : #283046;
	--tertiary-color : #108F64;
	--quaternary-color : #161d31;

	--btn-primary-color : #7367f0;
	--btn-secondary-color : #161d31;
	--warning-color : #ff9f43;
	--danger-color : #ef305e;
	--success-color : #28c76f;

	--text-primary-color : #283046;
	--text-secondary-color : #d0d2d6;
	--text-tertiary-color : #b4b7bd;

	--border-primary-color : #404656;
	--border-secondary-color : #3b4253;
	--border-tertiary-color : #283046;
  }
  
  /* Element Level Styles - Start */
  
body {
	margin:0;
	font-family : normal;
	background-color: var(--bg-color);
}

/** Utility Classes **/

.flex{
	display: flex;
}

.flex-column{
	flex-direction: column;
}

.flex-row{
	flex-direction: row;
}

.absolute{
	position: absolute;
}

.relative{
	position: relative;
}

.fixed{
	position : fixed ;
}

.text-primary{
	color : #181C32 !important;
}

.text-white{
	color: white;
}

.text-light{
	font-weight: 300;
}

.text-bold{
	font-weight: 500;
}

.text-boldest{
	font-weight: 900;
}

.justify-space-between{
	justify-content: space-between;
}

.justify-space-around{
	justify-content: space-around;
}

.align-center{
	align-items: center;
}

.align-stretch{
	align-items: stretch;
}

.align-end{
	align-items: flex-end;
}


.justify-center{
	justify-content: center;
}

.grow{
	flex-grow: 1;
}

.border-box{
	box-sizing: border-box;
}

.text-underline{
	text-decoration: underline;
}

.text-center{
	text-align: center;
}

.text-large{
	font-size: 1.75rem;
}

.justify-start{
	justify-content: flex-start;
}

.justify-end{
	justify-content: flex-end;
}

.bg-white{
	background-color: white;
}

.bg-transparent{
	background-color: transparent;
}

.bg-secondary{
	background-color: var(--secondary-color);
}

.bg-primary{
	background-color: var(--primary-color);
}

.border-primary{
	border : 2px solid  var(--primary-color);
}

.border-around-white{
	border: 2px solid #d0d2d6 !important;
}

.bg-dark{
	background-color: var(--dark-color);
}

.border-bottom-primary{
	border-bottom : 2px solid  var(--primary-color);
}

.pointer{
	cursor: pointer;
}

.border-radius-5{
	border-radius: 5px;
}


.option{
	padding: 0.5rem;
	outline: none;
}

.task_name{
	width: 55% !important;
}


.entry_column{
	width: 20% !important;
}


/** Status Classes Start **/

.Pending{
	color: #fff !important;
    background-color: #F1416C;
}

.Paid{
	color: #fff !important;
    background-color: #50CD89;
}

.duration{
	color: #fff !important;
    background-color: #FFC700;
}

/** Status Classes End **/

/** Badge Class Start **/
.Bullet-Not-Started{
	background-color: #ea5455;
}

.Bullet-In-Progress{
	background-color: #ff9f43;
}

.Bullet-Completed{
    background-color: #28c76f;
}
/** Badge Class End **/

.badge{
	font-size: 1.5rem;
}

.badge-not-started{
	background-color: #ea545520;
	color: #ea5455;
}

.badge-in-progress{
	background-color: #ff9f4320;
	color: #ff9f43;
}

.badge-completed{
	background-color: #28c76f20;
	color: #28c76f;
}